$color-black: #000;
$color-darkblue: #14213D;
$color-orange: #FCA311;
$color-lightgrey: #E5E5E5;
$color-white: #FFF;


/* VARIABLES */
:root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #f9f9f9;
    --neutral-color: #fff;
}
  